@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.wrapper {
  background-image: url(../../../public//assets//images/back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ::-webkit-scrollbar {
  display: none;
} */
